<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.soen.mypart">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".SearchActivity" />
        <activity android:name=".MemoManagementActivity" />
        <activity android:name=".ArViewActivity" />
        <activity android:name=".MakingMemoAcitivity" />
        <activity android:name=".CameraCropActivity"/>
        <activity android:name=".BuildingInfoActivity" />
        <activity android:name=".MakingMeetingActivity" />
        <activity android:name=".MeetingInfoActivity" />
        <activity android:name=".MeetingListActivity"/>
        <activity android:name=".MemoInfoActivity"></activity>
    </application>

</manifest>